<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>


# Data Wrangling


Estimated time needed: **30** minutes
    

## Objectives

After completing this lab you will be able to:

* Handle missing values
* Correct data formatting
* Standardize and normalize data

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ul>
    <li><a href="#Identify-and-handle-missing-values">Identify and handle missing values</a>
        <ul>
            <li><a href="#Identify-missing-values">Identify missing values</a></li>
            <li><a href="#Deal-with-missing-data">Deal with missing values</a></li>
            <li><a href="#Correct-data-format">Correct data format</a></li>
        </ul>
    </li>
    <li><a href="#Data-Standardization">Data standardization</a></li>
    <li><a href="#Data-Normalization">Data normalization (centering/scaling)</a></li>
    <li><a href="#Binning">Binning</a></li>
    <li><a href="#Indicator-Variable">Indicator variable</a></li>
</ul>
    
</div>
 
<hr>

<h2>What is the purpose of data wrangling?</h2>

You use data wrangling to convert data from an initial format to a format that may be better for analysis.

<h3>What is the fuel consumption (L/100k) rate for the diesel car?</h3>

<h3>Import data</h3>
<p>
You can find the "Automobile Dataset" from the following link: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a>. 
You will be using this data set throughout this course.
</p>

<h4>Import pandas</h4>

In [6]:
#install specific version of libraries used in lab
#! mamba install pandas==1.3.3
#! mamba install numpy=1.21.2

In [7]:
import pandas as pd
import matplotlib.pylab as plt

<h2>Reading the dataset from the URL and adding the related headers</h2>

The functions below will download the dataset into your browser:

In [8]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

First, assign the URL of the data set to "filepath".

In [9]:
file_path="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

To obtain the dataset, utilize the download() function as defined above:

In [25]:
await download(file_path, "usedcars.csv")
file_name="usedcars.csv"

Then, create a Python list <b>headers</b> containing name of headers.

In [26]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

Use the Pandas method <b>read_csv()</b> to load the data from the web address. Set the parameter  "names" equal to the Python list "headers".

In [28]:
df = pd.read_csv("usedcars.csv", names = headers)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [13]:
#filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
#df = pd.read_csv(filepath, header=headers)    # Utilize the same header list defined above

 Use the method <b>head()</b> to display the first five rows of the dataframe.

In [14]:
# To see what the data set looks like, we'll use the head() method.
df = pd.read_csv("usedcars.csv")
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

As you can see, several question marks appeared in the data frame; those missing values may hinder further analysis. 
<div>So, how do we identify all those missing values and deal with them?</div> 


<b>How to work with missing data?</b>

Steps for working with missing data:
<ol>
    <li>Identify missing data</li>
    <li>Deal with missing data</li>
    <li>Correct data format</li>
</ol>

# Identify and handle missing values


### Identify missing values
<h4>Convert "?" to NaN</h4>
In the car data set, missing data comes with the question mark "?".
We replace "?" with NaN (Not a Number), Python's default missing value marker for reasons of computational speed and convenience. Use the function: 
 <pre>.replace(A, B, inplace = True) </pre>
to replace A by B.

In [17]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

<h4>Evaluating for Missing Data</h4>

The missing values are converted by default. Use the following functions to identify these missing values. You can use two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [18]:
missing_data = df[df.isnull().any(axis = 1)]
print(missing_data)

     3    ?    alfa-romero     gas    std   two  convertible  rwd  front  \
0    3  NaN    alfa-romero     gas    std   two  convertible  rwd  front
1    1  NaN    alfa-romero     gas    std   two    hatchback  rwd  front
4    2  NaN           audi     gas    std   two        sedan  fwd  front
6    1  NaN           audi     gas    std  four        wagon  fwd  front
8    0  NaN           audi     gas  turbo   two    hatchback  4wd  front
13   1  NaN            bmw     gas    std  four        sedan  rwd  front
14   0  NaN            bmw     gas    std  four        sedan  rwd  front
15   0  NaN            bmw     gas    std   two        sedan  rwd  front
16   0  NaN            bmw     gas    std  four        sedan  rwd  front
26   1  148          dodge     gas  turbo   NaN        sedan  fwd  front
42   0  NaN          isuzu     gas    std  four        sedan  rwd  front
43   1  NaN          isuzu     gas    std   two        sedan  fwd  front
44   0  NaN          isuzu     gas    std  four        sedan  fwd  front
45   2  NaN          isuzu     gas    std   two    hatchback  rwd  front
47   0  NaN         jaguar     gas    std  four        sedan  rwd  front
48   0  NaN         jaguar     gas    std   two        sedan  rwd  front
54   3  150          mazda     gas    std   two    hatchback  rwd  front
55   3  150          mazda     gas    std   two    hatchback  rwd  front
56   3  150          mazda     gas    std   two    hatchback  rwd  front
57   3  150          mazda     gas    std   two    hatchback  rwd  front
62   0  NaN          mazda  diesel    std   NaN        sedan  fwd  front
65   0  NaN          mazda  diesel    std  four        sedan  rwd  front
70  -1  NaN  mercedes-benz     gas    std  four        sedan  rwd  front
72   0  NaN  mercedes-benz     gas    std  four        sedan  rwd  front
73   1  NaN  mercedes-benz     gas    std   two      hardtop  rwd  front
74   1  NaN        mercury     gas  turbo   two    hatchback  rwd  front
81   3  NaN     mitsubishi     gas  turbo   two    hatchback  fwd  front
82   3  NaN     mitsubishi     gas  turbo   two    hatchback  fwd  front
83   3  NaN     mitsubishi     gas  turbo   two    hatchback  fwd  front
108  0  NaN         peugot     gas    std  four        wagon  rwd  front
109  0  NaN         peugot  diesel  turbo  four        wagon  rwd  front
112  0  NaN         peugot     gas    std  four        wagon  rwd  front
113  0  NaN         peugot  diesel  turbo  four        wagon  rwd  front
123  3  NaN       plymouth     gas  turbo   two    hatchback  rwd  front
125  3  NaN        porsche     gas    std   two      hardtop  rwd   rear
126  3  NaN        porsche     gas    std   two      hardtop  rwd   rear
127  3  NaN        porsche     gas    std   two  convertible  rwd   rear
128  1  NaN        porsche     gas    std   two    hatchback  rwd  front
129  0  NaN        renault     gas    std  four        wagon  fwd  front
130  2  NaN        renault     gas    std   two    hatchback  fwd  front
180 -1  NaN         toyota     gas    std  four        wagon  rwd  front
188  3  NaN     volkswagen     gas    std   two  convertible  fwd  front
190  0  NaN     volkswagen     gas    std  four        sedan  fwd  front
191  0  NaN     volkswagen  diesel  turbo  four        sedan  fwd  front
192  0  NaN     volkswagen     gas    std  four        wagon  fwd  front

      88.6  ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  13495
0     88.6  ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
1     94.5  ...  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
4     99.8  ...  136  mpfi  3.19  3.40   8.5  110  5500  19  25  15250
6    105.8  ...  136  mpfi  3.19  3.40   8.5  110  5500  19  25  18920
8     99.5  ...  131  mpfi  3.13  3.40   7.0  160  5500  16  22    NaN
13   103.5  ...  164  mpfi  3.31  3.19   9.0  121  4250  20  25  24565
14   103.5  ...  209  mpfi  3.62  3.39   8.0  182  5400  16  22  30760
15   103.5  ...  209  mpfi  3.62  3.39   8.0  182  5400  16  22  41315
16   110.0  ...  209  mpfi  3.62  3.39   8.0  182  5400  15  20  36880
26    93.7  ...   98  mpfi  3.03  3.39   7.6  102  5500  24  30   8558
42    94.3  ...  111  2bbl  3.31  3.23   8.5   78  4800  24  29   6785
43    94.5  ...   90  2bbl  3.03  3.11   9.6   70  5400  38  43    NaN
44    94.5  ...   90  2bbl  3.03  3.11   9.6   70  5400  38  43    NaN
45    96.0  ...  119  spfi  3.43  3.23   9.2   90  5000  24  29  11048
47   113.0  ...  258  mpfi  3.63  4.17   8.1  176  4750  15  19  35550
48   102.0  ...  326  mpfi  3.54  2.76  11.5  262  5000  13  17  36000
54    95.3  ...   70  4bbl   NaN   NaN   9.4  101  6000  17  23  10945
55    95.3  ...   70  4bbl   NaN   NaN   9.4  101  6000  17  23  11845
56    95.3  ...   70  4bbl   NaN   NaN   9.4  101  6000  17  23  13645
57    95.3  ...   80  mpfi   NaN   NaN   9.4  135  6000  16  23  15645
62    98.8  ...  122   idi  3.39  3.39  22.7   64  4650  36  42  10795
65   104.9  ...  134   idi  3.43  3.64  22.0   72  4200  31  39  18344
70   115.6  ...  234  mpfi  3.46  3.10   8.3  155  4750  16  18  34184
72   120.9  ...  308  mpfi  3.80  3.35   8.0  184  4500  14  16  40960
73   112.0  ...  304  mpfi  3.80  3.35   8.0  184  4500  14  16  45400
74   102.7  ...  140  mpfi  3.78  3.12   8.0  175  5000  19  24  16503
81    95.9  ...  156  spdi  3.58  3.86   7.0  145  5000  19  24  12629
82    95.9  ...  156  spdi  3.59  3.86   7.0  145  5000  19  24  14869
83    95.9  ...  156  spdi  3.59  3.86   7.0  145  5000  19  24  14489
108  114.2  ...  120  mpfi  3.46  3.19   8.4   97  5000  19  24  12440
109  114.2  ...  152   idi  3.70  3.52  21.0   95  4150  25  25  13860
112  114.2  ...  120  mpfi  3.46  2.19   8.4   95  5000  19  24  16695
113  114.2  ...  152   idi  3.70  3.52  21.0   95  4150  25  25  17075
123   95.9  ...  156  spdi  3.59  3.86   7.0  145  5000  19  24  12764
125   89.5  ...  194  mpfi  3.74  2.90   9.5  207  5900  17  25  32528
126   89.5  ...  194  mpfi  3.74  2.90   9.5  207  5900  17  25  34028
127   89.5  ...  194  mpfi  3.74  2.90   9.5  207  5900  17  25  37028
128   98.4  ...  203  mpfi  3.94  3.11  10.0  288  5750  17  28    NaN
129   96.1  ...  132  mpfi  3.46  3.90   8.7  NaN   NaN  23  31   9295
130   96.1  ...  132  mpfi  3.46  3.90   8.7  NaN   NaN  23  31   9895
180  104.5  ...  161  mpfi  3.27  3.35   9.2  156  5200  19  24  15750
188   94.5  ...  109  mpfi  3.19  3.40   8.5   90  5500  24  29  11595
190  100.4  ...  136  mpfi  3.19  3.40   8.5  110  5500  19  24  13295
191  100.4  ...   97   idi  3.01  3.40  23.0   68  4500  33  38  13845
192  100.4  ...  109  mpfi  3.19  3.40   9.0   88  5500  25  31  12290

[45 rows x 26 columns]

"True" means the value is a missing value while "False" means the value is not a missing value.

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, you can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value and "False" means the value is present in the data set.  In the body of the for loop the method ".value_counts()" counts the number of "True" values. 
</p>

In [19]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

3
3
 0    19
 3    13
 1     8
 2     3
-1     2
Name: count, dtype: int64

?
?
150    4
148    1
Name: count, dtype: int64

alfa-romero
alfa-romero
mazda            6
bmw              4
isuzu            4
peugot           4
porsche          4
volkswagen       4
audi             3
mercedes-benz    3
mitsubishi       3
alfa-romero      2
jaguar           2
renault          2
dodge            1
mercury          1
plymouth         1
toyota           1
Name: count, dtype: int64

gas
gas
gas       40
diesel     5
Name: count, dtype: int64

std
std
std      35
turbo    10
Name: count, dtype: int64

two
two
two     24
four    19
Name: count, dtype: int64

convertible
convertible
sedan          17
hatchback      14
wagon           8
convertible     3
hardtop         3
Name: count, dtype: int64

rwd
rwd
rwd    29
fwd    15
4wd     1
Name: count, dtype: int64

front
front
front    42
rear      3
Name: count, dtype: int64

88.6
88.6
114.2    4
95.9     4
95.3     4
94.5     4
100.4    3
103.5    3
89.5     3
96.1     2
115.6    1
104.5    1
98.4     1
102.7    1
112.0    1
120.9    1
88.6     1
104.9    1
102.0    1
113.0    1
96.0     1
94.3     1
93.7     1
110.0    1
99.5     1
105.8    1
99.8     1
98.8     1
Name: count, dtype: int64

168.8
168.8
169.0    4
173.2    4
198.9    4
168.9    3
155.9    2
180.2    2
189.0    2
168.8    1
199.2    1
178.4    1
175.7    1
202.6    1
181.5    1
176.8    1
187.8    1
159.3    1
208.1    1
177.8    1
175.0    1
171.2    1
191.7    1
199.6    1
172.6    1
170.7    1
157.3    1
197.0    1
193.8    1
178.2    1
192.7    1
177.3    1
183.1    1
Name: count, dtype: int64

64.1
64.1
66.3    5
66.9    5
68.4    4
65.7    4
65.0    3
66.5    3
67.9    2
63.6    2
71.7    2
64.1    1
66.1    1
66.6    1
72.3    1
68.0    1
72.0    1
70.6    1
65.5    1
69.6    1
65.2    1
61.8    1
63.8    1
70.9    1
71.4    1
64.2    1
Name: count, dtype: int64

48.8
48.8
50.2    4
49.6    4
55.1    3
55.7    3
52.0    3
51.6    3
58.7    3
50.5    2
56.7    2
56.5    1
55.6    1
54.1    1
55.2    1
54.8    1
55.4    1
48.8    1
54.4    1
52.4    1
47.8    1
52.8    1
51.4    1
53.5    1
50.6    1
56.3    1
53.7    1
53.1    1
55.5    1
Name: count, dtype: int64

2548
2548
2756    2
2380    2
3230    2
2579    2
3485    1
2910    1
2833    1
2921    1
2926    1
3430    1
3285    1
2548    1
2818    1
3900    1
2800    1
3366    1
2460    1
3151    1
2254    1
2661    1
3715    1
2700    1
3740    1
2337    1
2507    1
2954    1
3053    1
3055    1
3380    1
3505    1
2191    1
1874    1
2823    1
1909    1
2734    1
4066    1
3950    1
2385    1
2500    1
2443    1
2563    1
Name: count, dtype: int64

dohc
dohc
ohc      25
ohcv      5
rotor     4
l         4
dohc      3
ohcf      3
dohcv     1
Name: count, dtype: int64

four
four
four      22
six       10
five       4
two        4
eight      4
twelve     1
Name: count, dtype: int64

130
130
156    4
136    3
209    3
194    3
70     3
152    3
109    2
132    2
90     2
120    2
130    1
308    1
161    1
203    1
140    1
304    1
122    1
234    1
134    1
80     1
326    1
258    1
119    1
111    1
98     1
164    1
131    1
97     1
Name: count, dtype: int64

mpfi
mpfi
mpfi    29
idi      5
spdi     4
2bbl     3
4bbl     3
spfi     1
Name: count, dtype: int64

3.47
3.47
3.19    5
3.46    5
3.62    3
3.03    3
3.74    3
3.59    3
3.31    2
3.43    2
3.70    2
3.80    2
3.47    1
3.58    1
3.27    1
3.94    1
3.39    1
3.78    1
2.68    1
3.54    1
3.63    1
3.13    1
3.01    1
Name: count, dtype: int64

2.68
2.68
3.40    7
3.39    5
3.86    4
3.11    3
2.90    3
3.35    3
3.90    2
3.19    2
3.23    2
3.52    2
3.12    1
2.19    1
2.68    1
3.10    1
3.47    1
2.76    1
4.17    1
3.64    1
Name: count, dtype: int64

9.0
9.0
8.0     6
8.5     5
7.0     5
9.0     4
9.4     4
9.5     3
9.6     2
9.2     2
8.4     2
21.0    2
8.7     2
8.1     1
11.5    1
7.6     1
22.7    1
22.0    1
8.3     1
10.0    1
23.0    1
Name: count, dtype: int64

111
111
145    4
110    3
182    3
207    3
95     3
101    3
70     2
90     2
184    2
111    1
155    1
68     1
156    1
288    1
97     1
175    1
135    1
72     1
64     1
154    1
262    1
176    1
78     1
102    1
121    1
160    1
88     1
Name: count, dtype: int64

5000
5000
5000    11
5500     7
5400     5
6000     4
4500     3
5900     3
4750     2
4150     2
4250     1
4800     1
4650     1
4200     1
5750     1
5200     1
Name: count, dtype: int64

21
21
19    12
17     7
16     5
24     4
25     3
15     2
38     2
14     2
23     2
21     1
20     1
13     1
36     1
31     1
33     1
Name: count, dtype: int64

27
27
24    9
25    8
23    4
22    3
31    3
29    3
43    2
16    2
27    1
39    1
28    1
18    1
17    1
42    1
26    1
19    1
30    1
20    1
38    1
Name: count, dtype: int64

13495
13495
16500    2
15250    1
12629    1
14869    1
14489    1
12440    1
13860    1
16695    1
17075    1
12764    1
32528    1
34028    1
37028    1
9295     1
9895     1
15750    1
11595    1
13295    1
13845    1
16503    1
45400    1
40960    1
11048    1
18920    1
24565    1
30760    1
41315    1
36880    1
8558     1
6785     1
35550    1
34184    1
36000    1
10945    1
11845    1
13645    1
15645    1
10795    1
18344    1
12290    1
Name: count, dtype: int64

Based on the summary above, each column has 205 rows of data and seven of the columns containing missing data:
<ol>
    <li>"normalized-losses": 41 missing data</li>
    <li>"num-of-doors": 2 missing data</li>
    <li>"bore": 4 missing data</li>
    <li>"stroke" : 4 missing data</li>
    <li>"horsepower": 2 missing data</li>
    <li>"peak-rpm": 2 missing data</li>
    <li>"price": 4 missing data</li>
</ol>

### Deal with missing data
<b>How should you deal with missing data?</b>

<ol>
    <li>Drop data<br>
        a. Drop the whole row<br>
        b. Drop the whole column
    </li>
    <li>Replace data<br>
        a. Replace it by mean<br>
        b. Replace it by frequency<br>
        c. Replace it based on other functions
    </li>
</ol>

You should only drop whole columns if most entries in the column are empty. In the data set, none of the columns are empty enough to drop entirely.
You have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. Apply each method to different columns:

<b>Replace by mean:</b>
<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<b>Replace by frequency:</b>
<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans are four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

<b>Drop the whole row:</b>
<ul>
    <li>"price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: You want to predict price. You cannot use any data entry without price data for prediction; therefore any row now without price data is not useful to you.</li>
        </ul>
    </li>
</ul>

<h4>Calculate the mean value for the "normalized-losses" column </h4>

In [20]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

<class 'KeyError'>: 'normalized-losses'

<h4>Replace "NaN" with mean value in "normalized-losses" column</h4>

In [21]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

<class 'KeyError'>: 'normalized-losses'

<h4>Calculate the mean value for the "bore" column</h4>

In [22]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

<class 'KeyError'>: 'bore'

<h4>Replace "NaN" with the mean value in the "bore" column</h4>

In [23]:
df["bore"].replace(np.nan, avg_bore, inplace=True)

<class 'KeyError'>: 'bore'

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #1: </h1>

<b>Based on the example above, replace NaN in "stroke" column with the mean value.</b>
</div>

In [36]:
# Write your code below and press Shift+Enter to execute
print(df['stroke'].dtypes)
# mean_stroke = df["strocke"].mean()
# df["stroke"] = df["stroke"].replace(np.nan,mean_stroke)
# print(df["stroke"])

<class 'KeyError'>: 'stroke'

<details><summary>Click here for the solution</summary>

```python
#Calculate the mean vaule for "stroke" column
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:", avg_stroke)

# replace NaN by mean value in "stroke" column
df["stroke"].replace(np.nan, avg_stroke, inplace = True)
```

</details>

<h4>Calculate the mean value for the "horsepower" column</h4>

In [ ]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

<h4>Replace "NaN" with the mean value in the "horsepower" column</h4>

In [ ]:
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

<h4>Calculate the mean value for "peak-rpm" column</h4>

In [ ]:
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

<h4>Replace "NaN" with the mean value in the "peak-rpm" column</h4>

In [ ]:
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

To see which values are present in a particular column, we can use the ".value_counts()" method:

In [ ]:
df['num-of-doors'].value_counts()

You can see that four doors is the most common type. We can also use the ".idxmax()" method to calculate the most common type automatically:

In [ ]:
df['num-of-doors'].value_counts().idxmax()

The replacement procedure is very similar to what you have seen previously:

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

Finally, drop all rows that do not have price data:

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

<b>Good!</b> Now, you have a data set with no missing values.

### Correct data format
<b>We are almost there!</b>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, you use:
<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

<h4>Let's list the data types for each column</h4>

In [ ]:
df.dtypes

<p>As you can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, the numerical values 'bore' and 'stroke' describe the engines, so you should expect them to be of the type 'float' or 'int'; however, they are shown as type 'object'. You have to convert data types into a proper format for each column using the "astype()" method.</p>

<h4>Convert data types to proper format</h4>

In [ ]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

<h4>Let us list the columns after the conversion</h4>

In [37]:
df.dtypes

3                int64
?               object
alfa-romero     object
gas             object
std             object
two             object
convertible     object
rwd             object
front           object
88.6           float64
168.8          float64
64.1           float64
48.8           float64
2548             int64
dohc            object
four            object
130              int64
mpfi            object
3.47            object
2.68            object
9.0            float64
111             object
5000            object
21               int64
27               int64
13495           object
dtype: object

<b>Wonderful!</b>

Now you finally obtained the cleansed data set with no missing values and with all data in its proper format.

## Data Standardization
<p>
You usually collect data from different agencies in different formats.
(Data standardization is also a term for a particular type of data normalization where you subtract the mean and divide by the standard deviation.)
</p>
    
<b>What is standardization?</b>
<p>Standardization is the process of transforming data into a common format, allowing the researcher to make the meaningful comparison.
</p>

<b>Example</b>
<p>Transform mpg to L/100km:</p>
<p>In your data set, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon) unit. Assume you are developing an application in a country that accepts the fuel consumption with L/100km standard.</p>
<p>You will need to apply <b>data transformation</b> to transform mpg into L/100km.</p>

<p>Use this formula for unit conversion:<p>
L/100km = 235 / mpg
<p>You can do many mathematical operations directly using Pandas.</p>

In [ ]:
df.head()

In [ ]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"]

# check your transformed data 
df.head()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #2: </h1>

<b>According to the example above, transform mpg to L/100km in the column of "highway-mpg" and change the name of column to "highway-L/100km".</b>
</div>

In [38]:
# Write your code below and press Shift+Enter to execute 
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'"highway-mpg"':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

<class 'KeyError'>: 'highway-mpg'

<details><summary>Click here for the solution</summary>

```python
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'"highway-mpg"':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

```
</details>

## Data Normalization

<b>Why normalization?</b>
<p>Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include 
<ol>
    <li>scaling the variable so the variable average is 0</li>
    <li>scaling the variable so the variance is 1</li> 
    <li>scaling the variable so the variable values range from 0 to 1</li>
</ol>
</p>

<b>Example</b>
<p>To demonstrate normalization, say you want to scale the columns "length", "width" and "height".</p>
<p><b>Target:</b> normalize those variables so their value ranges from 0 to 1</p>
<p><b>Approach:</b> replace the original value by (original value)/(maximum value)</p>

In [ ]:
# replace (original value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question #3: </h1>

<b>According to the example above, normalize the column "height".</b>
</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
df['height'] = df['height']/df['height'].max() 

# show the scaled columns
df[["length","width","height"]].head()


```
</details>

Here you've normalized "length", "width" and "height" to fall in the range of [0,1].

## Binning
<b>Why binning?</b>
<p>
    Binning is a process of transforming continuous numerical variables into discrete categorical 'bins' for grouped analysis.
</p>

<b>Example: </b>
<p>In your data set, "horsepower" is a real valued variable ranging from 48 to 288 and it has 59 unique values. What if you only care about the price difference between cars with high horsepower, medium horsepower, and little horsepower (3 types)? You can rearrange them into three ‘bins' to simplify analysis.</p>

<p>Use the Pandas method 'cut' to segment the 'horsepower' column into 3 bins.</p>

<h3>Example of Binning Data In Pandas</h3>

 Convert data to correct format:

In [ ]:
df["horsepower"]=df["horsepower"].astype(int, copy=True)

Plot the histogram of horsepower to see the distribution of horsepower.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["horsepower"])

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

<p>Find 3 bins of equal size bandwidth by using Numpy's <code>linspace(start_value, end_value, numbers_generated</code> function.</p>
<p>Since you want to include the minimum value of horsepower, set start_value = min(df["horsepower"]).</p>
<p>Since you want to include the maximum value of horsepower, set end_value = max(df["horsepower"]).</p>
<p>Since you are building 3 bins of equal length, you need 4 dividers, so numbers_generated = 4.</p>

Build a bin array with a minimum value to a maximum value by using the bandwidth calculated above. The values will determine when one bin ends and another begins.

In [ ]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

Set group  names:

In [ ]:
group_names = ['Low', 'Medium', 'High']

Apply the function "cut" to determine what each value of `df['horsepower']` belongs to.

In [ ]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

See the number of vehicles in each bin:

In [ ]:
df["horsepower-binned"].value_counts()

Plot the distribution of each bin:

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
pyplot.bar(group_names, df["horsepower-binned"].value_counts())

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

<p>
    Look at the data frame above carefully. You will find that the last column provides the bins for "horsepower" based on 3 categories ("Low", "Medium" and "High"). 
</p>
<p>
    You successfully narrowed down the intervals from 59 to 3!
</p>

<h3>Bins Visualization</h3>
Normally, you use a histogram to visualize the distribution of bins we created above.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot


# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["horsepower"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

The plot above shows the binning result for the attribute "horsepower".

## Indicator Variable
<b>What is an indicator variable?</b>
<p>
    An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. 
</p>

<b>Why use indicator variables?</b>
<p>
    You use indicator variables so you can use categorical variables for regression analysis in the later modules.
</p>
<b>Example</b>
<p>
    The column "fuel-type" has two unique values: "gas" or "diesel". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, you can convert "fuel-type" to indicator variables.
</p>

<p>
    Use the Panda method 'get_dummies' to assign numerical values to different categories of fuel type. 
</p>

In [ ]:
df.columns

Get the indicator variables and assign it to data frame "dummy_variable_1":

In [ ]:
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

Change the column names for clarity:

In [ ]:
dummy_variable_1.rename(columns={'gas':'fuel-type-gas', 'diesel':'fuel-type-diesel'}, inplace=True)
dummy_variable_1.head()

In the data frame, column 'fuel-type' now has values for 'gas' and 'diesel' as 0s and 1s.

In [ ]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)

In [ ]:
df.head()

The last two columns are now the indicator variable representation of the fuel-type variable. They're all 0s and 1s now.

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #4: </h1>

<b>Similar to before, create an indicator variable for the column "aspiration"</b>
</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
# get indicator variables of aspiration and assign it to data frame "dummy_variable_2"
dummy_variable_2 = pd.get_dummies(df['aspiration'])

# change column names for clarity
dummy_variable_2.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)

# show first 5 instances of data frame "dummy_variable_1"
dummy_variable_2.head()


```
</details>

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #5: </h1>

<b>Merge the new dataframe to the original dataframe, then drop the column 'aspiration'.</b>
</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
# merge the new dataframe to the original datafram
df = pd.concat([df, dummy_variable_2], axis=1)

# drop original column "aspiration" from "df"
df.drop('aspiration', axis = 1, inplace=True)


```
</details>

Save the new csv:

In [ ]:
df.to_csv('clean_df.csv')

### Thank you for completing this lab!


## Author

<a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a>


### Other Contributors

<a href="https://www.linkedin.com/in/mahdi-noorian-58219234/" target="_blank">Mahdi Noorian PhD</a>

Bahare Talayian

Eric Xiao

Steven Dong

Parizad

Hima Vasudevan

<a href="https://www.linkedin.com/in/fiorellawever/" target="_blank">Fiorella Wenver</a>

<a href=" https://www.linkedin.com/in/yi-leng-yao-84451275/ " target="_blank" >Yi Yao</a>.

<a href=" https://www.coursera.org/instructor/~129186572/" target="_blank" >Abhishek Gagneja </a>

## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>
<!--
## Change Log


|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2023-09-28 | 2.3| Abhishek Gagneja| Instructional Update |
| 2020-10-30  | 2.2  | Lakshmi  |  Changed URL of csv  |
| 2020-09-09  | 2.1  | Lakshmi  |  Updated Indicator Variables section  |
| 2020-08-27  | 2.0  | Lavanya  |  Moved lab to course repo in GitLab  |


--!>

<hr>